{% extends "comfort/header.html" %}

{% block content %}
	<div style="padding:15px">
		<h3>Create a New rating</h3>
		<!--<form action="new/" method='post'>
		
		<label for="roomsel">Room Select:</label>

		<select id="roomsel">
			<option value=''>Select a Room</option>
		{% for room in rooms %}
			<option value={{room.id}}>{{room}}</option>
		{% endfor %}
		</select>-->
		<form method="POST" class="post-form">{% csrf_token %}
			{{ form.building.errors }}
			{{ form.as_p }}

	

			<button type="submit" class="save btn btn-default">Run</button>
		</form>
	</div>

{% endblock %}