{% extends "comfort/header.html" %}
<body>
{% block content %}
	<div class=container style="padding: 15px">
		<h2>Rating {{room_rating.pk}} Detail</h2>
		<table class="table table-bordered">
			<tr>
				<th>Room</th>
				<th>{{ room_rating.room }}</th>
			</tr>
			<tr>
				<td>Date</td>
				<td>{{ room_rating.date.month }}/{{ room_rating.date.day }}/{{ room_rating.date.year }}</td>
			</tr>
			<tr>
				<td>Time</td>
				<td>{{ room_rating.date.time }}</td>
			</tr>
			<tr>
				<th>Measurement</th>
				<th>Value</th>
			</tr>
			<tr>
				<td>Overall Room Rating</td>
				<td>{{ rating }}</td>
			</tr>
			<tr>
				<td>Average Ambient Temperature</td>
				<td>{{ rating.ave_ambient_temp }}</td>
			</tr>
			<tr>
				<td>Average Radiant Temperature</td>
				<td>{{ rating.ave_radiant_temp }}</td>
			</tr>
			<tr>
				<td>Average Humidity</td>
				<td>{{ rating.ave_humidity }}</td>
			</tr>
			<tr>
				<td>Average Sound Level</td>
				<td>{{ rating.ave_sound_level }}</td>
			</tr>
		</table>
	</div>
	<div class="btn-group" style="padding-left: 30px">
		<a class="btn btn-primary" href="/static/comfort/comfortrobot.exe" download>Download GUI File</a>
		<a class="btn btn-primary" href="{{rating.file}}" download>Download CSV for this Rating</a>
	</div>
{% endblock %}
</body>