{% extends "comfort/header.html" %}

<body>
{% block content %}
	{% if ratings_list %}
		<h3>Room Ratings</h3>
<!-- 		<ul class="list-group">
		{% for rating in ratings_list %}
			<li class="list-group-item"> <a href="{{ rating.id }}/">{{rating}} {{rating.date.time}}</a></li>
		{% endfor %}
		</ul> -->
		<div style="width:50%; padding: 15px;">
			<ul class="list-group">
			{% for rating in ratings_list %}
				<li class="list-group-item"> <a href="{{ rating.id }}/">{{rating}} {{rating.date.time}}</a></li>
			{% endfor %}
			</ul>
		</div>

	{% else %}
		<p>No Ratings Available.</p>
	{% endif %}
{% endblock %}
</body>
}