{% extends "comfort/header.html" %}

<body>
{% block content %}
	{% if ratings_list %}
		<div class="container" style="width:75%; padding: 15px;">
			<table class="table table-bordered">
				<tr><h3>Room Ratings</h3></tr>
				<tr>
					<ul align="center" class="list-group">
						{% for rating in ratings_list %}
							<li class="list-group-item"> <a href="{{ rating.id }}/">{{rating}} {{rating.date.time}}</a></li>
						{% endfor %}
					</ul>
				</tr>
			</table>
		</div>

	{% else %}
		<p>No Ratings Available.</p>
	{% endif %}
{% endblock %}
</body>
}