<html>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<head>
		<div><h1>βeta-Max</h1></div>
		<div class="btn-group" style="background-color:337ab7; width:100%;">
			<a class='btn btn-primary btn-lg' href='/comfort/'>Home</a>
			<a class='btn btn-primary btn-lg' href=''>New Rating</a>
			<a class='btn btn-primary btn-lg' href='/comfort/detail/'>Previous Ratings</a>
			<a class='btn btn-primary btn-lg' href =''>Room History</a>
			<a class='btn btn-primary btn-lg' href='' style="float:right;">Login</a>
		</div>
	</head>
	<body>
		{% block content %}
		{% endblock %}
	</body>
</html>