<html>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<head>
		<style>
		.content {
			display: inline-block;
		}
		
		.footer {
			position: fixed;
			bottom:0;
			width: 100%;
			min-height:30px;
			margin-bottom: 
			background-color:337ab7;
			display: inline-block;
		}
			
		</style>
		<div style="position: fixed; width: 100%; background-color: d3d3d3;">
		<div style="top:0; width:100%; "><h1>βeta-Max</h1></div>
		<div class="topnav" style="background-color:337ab7; width:100%;">
			<a class='btn btn-primary btn-lg' href='/comfort/'>Home</a>
			<a class='btn btn-primary btn-lg' href='/comfort/create/'>New Rating</a>
			<a class='btn btn-primary btn-lg' href='/comfort/detail/'>Previous Ratings</a>
			<a class='btn btn-primary btn-lg' href='/comfort/config/'>Room Configuration</a>
			{% if user.is_authenticated %}
				<div class="dropdown">
					<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="float:right;">{{ user.get_username }}
					<span class="caret"></span></button>
						<li><a href='/admin/'>Admin</a></li>
						<li><a href='/accounts/logout/'>Logout</a></li>
					</div>
			{% else %}
				<a class='btn btn-primary btn-lg' href='/accounts/login/' style="float:right;">Login</a>
			{% endif %}
		</div>
		</div>
		
	</head>
	<body>
		<div class="content" style="top:60; bottom:30px">
			<div style="padding-top: 80px"></div>
			{% load static %}
			{% block content %}
			{% endblock %}
			<div style="padding-bottom: 30px"></div>
		</div>
	</body>
	<footer>
		<div class="footer" style="background-color:337ab7; width: 100%;">
		
		</div>
	</footer>
	
</html>


<!--
	New edited html
-->